.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
packrat/src/
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0475_meta_7A-7C_spatialgraph_quoter_1.1_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0475_meta_7A-7C_spatialgraph_quoter_1.2_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0475_meta_7A-7C_spatialgraph_quoter_2.1_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0475_meta_7A-7C_spatialgraph_quoter_2.2_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0479_metaII_29sec_spatialgraph_quoter_1.1_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0479_metaII_29sec_spatialgraph_quoter_1.2_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0479_metaII_29sec_Spatialgraph_quoter_2.1.ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0479_metaII_29sec_Spatialgraph_quoter_2.2.ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0506_SiControl_Cell1_SpatialGraph_KMTsALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0506_SiMCRS1_Cell2_SpatialGraph_KMTs_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0506_SiMCRS1_Cell4_SpatialGraph_KMTs_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2019/T_0506_SiMCRS1_Cell5_SpatialGraph_KMTs_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2020/SiCTRL_SpatialGraph_KMTs.endsclassified_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2020/SiMCRS1_SpatialGraph_KMTs.endsclassified_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Barcelona/2020/WT_SpatialGraph_KMTs.endsclassified_ALL.xlsx
bin/The cluster of KMTs analysis tools/Data/Metaphase_1_KMTs.resampled.rotated.2_75.0.-9_55.resampled200.xlsx
bin/The cluster of KMTs analysis tools/Data/Metaphase_2_KMTs.resampled.rotated.6_15.0.-8_35.resampled200.xlsx
bin/The cluster of KMTs analysis tools/Data/Metaphase_3_KMTs.resampled.rotated.-13_15.0.79_3.resampled200.xlsx
bin/The cluster of KMTs analysis tools/Data/~$Metaphase_1_KMTs.resampled.rotated.2_75.0.-9_55.resampled200.xlsx
bin/The cluster of KMTs analysis tools/Data/~$SiCTRL_SpatialGraph_KMTs.endsclassified_ALL.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_1_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_1_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_1_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_1_Minus_end_position.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_2_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_2_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_2_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_1_2_Minus_end_position.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_1_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_1_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_1_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_1_Minus_end_position.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_2_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_2_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_2_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/2019/WT_2_2_Minus_end_position.xlsx
bin/The cluster of KMTs analysis tools/Output/SiCTRL_Inter_Kinetochore_Distance.xlsx
bin/The cluster of KMTs analysis tools/Output/SiCTRL_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/SiCTRL_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/SiCTRL_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/SiCTRL_Minus_end_position.xlsx
bin/The cluster of KMTs analysis tools/Output/SiMCRS1_Inter_Kinetochore_Distance.xlsx
bin/The cluster of KMTs analysis tools/Output/SiMCRS1_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/SiMCRS1_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/SiMCRS1_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/SiMCRS1_Minus_end_position.xlsx
bin/The cluster of KMTs analysis tools/Output/WT_Inter_Kinetochore_Distance.xlsx
bin/The cluster of KMTs analysis tools/Output/WT_KMTs_no.xlsx
bin/The cluster of KMTs analysis tools/Output/WT_KMTs_total_Curvature.xlsx
bin/The cluster of KMTs analysis tools/Output/WT_LD.xlsx
bin/The cluster of KMTs analysis tools/Output/WT_Minus_end_position.xlsx
