# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        r-version: [4.0]
        
    steps:
      - uses: actions/checkout@main
        
      - name: Cancel Previous Workflow Runs
        uses: n1hility/cancel-previous-runs@v2.0  
        
      - name: Set up R ${{ matrix.r-version }}
        uses: r-lib/actions/setup-r@ffe45a39586f073cc2e9af79c4ba563b657dc6e3
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          r-version: ${{ matrix.r-version }}
      
      - name: set up ${{ runs-on }}
        run: sudo apt install libcurl4-openssl-dev libssl-dev libxml2-dev xorg libx11-dev libglu1-mesa-dev
      - name: Install dependencies
        run: source("Install_Packages_GH_Actions.R")
        shell: Rscript {0}
        
      - name: Check for error in Shiny app
        run:  timeout 1 Rscript -e "shiny::runApp('R')" || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi
