# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    r-version: ${{ matrix.r-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest,macos-latest,windows-latest]
        r-version: [4.0]
    steps:
      - uses: actions/checkout@main

      - name: Set up R ${{ matrix.r-version }} na ${{ matrix.os }}
        uses: r-lib/actions/setup-r@ffe45a39586f073cc2e9af79c4ba563b657dc6e3
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          r-version: ${{ matrix.r-version }} 
          
      - name: Install dependencies
        run: |
          source("Install_Packages_GH_Actions.R")
          install.packages(c("remotes", "rcmdcheck"))
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}
        
      - name: Install dependencies
        
      - name: Check for error
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
            
        shell: Rscript {0}
